<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Newsroom DSA</title>
</head>

<body>
















    <!-- Navbar -->
    <section class="navbar_menu">
        <nav class="navbar navbar-light background_nav">
            <div class="container  text-light">
                <ul class="nav ">
                    <li class="nav-item">
                        <a href="../menu.html" class="text-light">
                            <i class="icon ion-md-menu ukuran_icon_nav"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                        <div class="btn-group">
                            <button type="button" class="btn btn btn-link text-light" data-toggle="dropdown"
                                data-display="static" aria-haspopup="true" aria-expanded="false">
                                <i class="icon ion-md-notifications-outline ukuran_icon_nav"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Berita Reporter Ditambahkan</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Reporter D Memakukan Berita Baru</a>
                            </div>
                        </div>
    
                    </li>
                    <li class="nav-item ">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link text-light" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="icon ion-md-person ukuran_icon_nav"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Your Name</a>
                                <a class="dropdown-item" href="#">Alamat</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="../../../index.html">Log Out</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- akhir Navbar -->








    <!-- logo  -->
    <section class="logo">
        <div class="container">
            <div class="row">
                <div class="col p-1 mb-5">
                    <img src="../../img/Logo.JPG" alt="logo DSA" class="logo_menu">
                </div>
            </div>
        </div>
    </section>
    <!-- Akhir Logo -->







    <!-- bungkus history  -->


<section class="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 tengah ">

                <!-- menu history -->

                    <div class="form-row justify-content-center mb-3">
                        <div class="col-1 text-center">
                            <div class="dropdown " >
                                <button class="btn btn-default" type="button" id="dropdownpos" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="icon ion-md-funnel"></i>
                                </button>
                                <div class="dropdown-menu  his_dop" aria-labelledby="dropdownpos">
                                    <button class="dropdown-item" type="button">Reporter</button>
                                    <button class="dropdown-item" type="button">Tema</button>
                                    <button class="dropdown-item" type="button">Lokasi</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <input class="form-control border-primary" type="date" id="example-date-input">
                        </div>
                        <div class="col-1 text-center">
                            <button class="btn btn-default" type="button">
                                <i class="icon ion-md-remove"></i>
                            </button>
                        </div>
                        <div class="col-4">
                            <input class="form-control  border-primary" type="date" id="example-date-input">
                        </div>
                        <div class="col-1 text-center">
                            <button class="btn btn-default" type="button">
                                <i class="icon ion-md-checkbox-outline"></i>
                            </button>
                        </div>
                    </div>

                <!-- Akhir Menu History -->


                <div class="col-lg-12">
                    <div class="table-responsive-sm">

                        <!-- Tabel History -->

                        <table class="table table-bordered text-info ">
                            <thead>
                                <tr>
                                    <th scope="col" class="text_tabel_tengah">No</th>
                                    <th scope="col" class="clearfix">Judul Artikel
                                        <span class="btn-group float-right">
                                            <button type="button" class="btn hhh btn-outline-light hhh btn-sm text-dark dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">A to Z</a>
                                                <a class="dropdown-item" href="#">Z to A</a>
                                            </div>
                                        </span>
                                    </th>
                                    <th scope="col" class="clearfix text_tabel_tengah">Status
                                        <span class="btn-group float-right">
                                            <button type="button" class="btn hhh btn-outline-light hhh btn-sm text-dark dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">A to Z</a>
                                                <a class="dropdown-item" href="#">Z to A</a>
                                            </div>
                                        </span>
                                    </th>
                                    <th scope="col" class="clearfix text_tabel_tengah">View
                                        <span class="btn-group float-right">
                                            <button type="button" class="btn hhh btn-outline-light hhh btn-sm text-dark dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">A to Z</a>
                                                <a class="dropdown-item" href="#">Z to A</a>
                                            </div>
                                        </span>
                                    </th>
                                    <th scope="col" colspan="2" class="text_tabel_tengah">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text_tabel_tengah">1</th>
                                    <td>Berita A</td>
                                    <td class="text_tabel_tengah"><i class="icon ion-md-radio-button-on text-warning"></td>
                                    <td class="text_tabel_tengah">No View</td>
                                    <td class="text_tabel_tengah ">
                                        <a href="../post/edit_post.html" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-create"></i>
                                        </a>
                                    </td>
                                    <td class="text_tabel_tengah ">
                                        <a href="#" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text_tabel_tengah">2</th>
                                    <td>Berita B</td>
                                    <td class="text_tabel_tengah"><i class="icon ion-md-radio-button-on text-danger"></td>
                                    <td class="text_tabel_tengah">2000</td>
                                    <td class="text_tabel_tengah ">
                                        <a href="../post/edit_post.html" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-create"></i>
                                        </a>
                                    </td>
                                    <td class="text_tabel_tengah ">
                                        <a href="#" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text_tabel_tengah">3</th>
                                    <td>Berita C</td>
                                    <td class="text_tabel_tengah"><i class="icon ion-md-radio-button-on text-danger"></td>
                                    <td class="text_tabel_tengah">130</td>
                                    <td class="text_tabel_tengah ">
                                        <a href="../post/edit_post.html" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-create"></i>
                                        </a>
                                    </td>
                                    <td class="text_tabel_tengah ">
                                        <a href="#" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text_tabel_tengah">4</th>
                                    <td>Berita D</td>
                                    <td class="text_tabel_tengah"><i class="icon ion-md-radio-button-on text-warning"></td>
                                    <td class="text_tabel_tengah">No View</td>
                                    <td class="text_tabel_tengah ">
                                        <a href="../post/edit_post.html" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-create"></i>
                                        </a>
                                    </td>
                                    <td class="text_tabel_tengah ">
                                        <a href="#" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text_tabel_tengah">5</th>
                                    <td>Berita E</td>
                                    <td class="text_tabel_tengah"><i class="icon ion-md-radio-button-on text-success"></td>
                                    <td class="text_tabel_tengah">No View</td>
                                    <td class="text_tabel_tengah ">
                                        <a href="../post/edit_post.html" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-create"></i>
                                        </a>
                                    </td>
                                    <td class="text_tabel_tengah ">
                                        <a href="#" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text_tabel_tengah">6</th>
                                    <td>Berita F</td>
                                    <td class="text_tabel_tengah"><i class="icon ion-md-radio-button-on text-success"></td>
                                    <td class="text_tabel_tengah">No View</td>
                                    <td class="text_tabel_tengah ">
                                        <a href="../post/edit_post.html" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-create"></i>
                                        </a>
                                    </td>
                                    <td class="text_tabel_tengah ">
                                        <a href="#" class="badge badge-light" style="font-size:18px;">
                                            <i class="icon ion-md-search"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Akhir Tabel History -->

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

                          
                     
    <!-- Akhir Bungkus History -->






























    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/javascript.js"></script>

</body>

</html>