<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Newsroom DSA</title>
</head>

<body>
















<!-- Navbar -->
<section class="navbar_menu">
    <nav class="navbar navbar-light background_nav">
        <div class="container pt-3 pb-3 text-light">
            <ul class="nav ">
                <li class="nav-item">
                    <a href="../template/menu.html" class="text-light">
                        <i class="icon ion-md-menu ukuran_icon_nav"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item ">
                    <div class="btn-group">
                        <button type="button" class="btn btn btn-link text-light" data-toggle="dropdown" data-display="static"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="icon ion-md-notifications-outline ukuran_icon_nav"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Berita Reporter Ditambahkan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Reporter D Memakukan Berita Baru</a>
                        </div>
                    </div>
            
                </li>
                <li class="nav-item ">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link text-light" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="icon ion-md-person ukuran_icon_nav"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Your Name</a>
                            <a class="dropdown-item" href="#">Alamat</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../../index.html">Log Out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- akhir Navbar -->



<!-- logo  -->
<section class="logo">
    <div class="container">
        <div class="row">
            <div class="col p-1 mb-5">
                <img src="../img/Logo.JPG" alt="logo DSA" class="logo_menu">
            </div>
        </div>
    </div>
</section>
<!-- Akhir Logo -->


<!-- Kolom Menu -->
    <section class="menu">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-5 ">
                    <div class="row text-info text-center">
                        <div class="col-md-3 col-6 ">
                            <a href="post/post.html" class="menu_style">
                                <i class="icon ion-md-document ukuran_icon_menu"></i>
                                <h6>New Post </h6>
                            </a>
                        </div>
                        <div class="col-md-3 col-6 border-left">
                            <a href="history/history.html" class="menu_style">
                                <i class="icon ion-md-timer ukuran_icon_menu"></i>
                                <h6>History</h6>
                            </a>
                        </div>
                        <div class="col-md-3 col-6 border-left">
                            <a href="galery/galery.html" class="menu_style">
                                <i class="icon ion-md-folder ukuran_icon_menu"></i>
                                <h6>Gallery</h6>
                            </a>
                        </div>
                        <div class="col-md-3 col-6 border-left">
                            <a href="video/video.html" class="menu_style">
                                <i class="icon ion-md-videocam ukuran_icon_menu"></i>
                                <h6>Live Streaming </h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Akhir Kolom Menu -->
















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/javascript.js"></script>

</body>

</html>